@mixin interaction-effect($strength: "normal", $border-radius: 0, $inherit-bg: false) {
  transition: background-color 0.3s, border-radius 0.3s;

  // disabled 상태
  &:disabled,
  &[disabled] {
    background: rgba(var(--primary-color), 0.04);
    color: rgba(var(--primary-color), 0.4);
    cursor: not-allowed;
    opacity: 0.6;
    pointer-events: none;
    border-radius: $border-radius;
  }

  @if $strength == "weak" {
    @if not $inherit-bg {
      background: rgba(var(--primary-color), 0.05);
    }
    border-radius: $border-radius;

    &:hover,
    &:focus {
      background: rgba(var(--primary-color), 0.1);
      border-radius: $border-radius;
    }

    &:active {
      background: rgba(var(--primary-color), 0.3);
      color: rgb(var(--background-color));
      border-radius: $border-radius;
    }

  } @else if $strength == "strong" {
    @if not $inherit-bg {
      background: rgba(var(--primary-color), 0.15);
    }
    border-radius: $border-radius;

    &:hover,
    &:focus {
      background: rgba(var(--primary-color), 0.3);
      border-radius: $border-radius;
    }

    &:active {
      background: rgba(var(--primary-color), 0.5);
      color: rgb(var(--background-color));
      border-radius: $border-radius;
    }

  } @else {
    // 기본값 "normal"
    @if not $inherit-bg {
      background: rgb(var(--background-color));
    }

    &:hover,
    &:focus {
      background: rgba(var(--primary-color), 0.1);
      border-radius: $border-radius;
    }

    &:active {
      background: rgba(var(--primary-color), 0.3);
      border-radius: $border-radius;
    }
  }
}

$scrollbar-width: 7px;