@use "app/globals" as *;

.main {
    max-width: 800px;
    padding: 60px 15px 120px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.section {
    margin-top: 100px;


    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h1, h2, h3 {
        font-weight: bold;
        margin-top: 170px;
        margin-bottom: 35px;
        line-height: 1.5em;
    }

    p {
        font-size: 1.25rem;
        line-height: 2em;
        font-weight: 500;
        margin-bottom: 16px;
    }

    :first-child {
        margin-top: 0;
    }
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 100px;
    @include interaction-effect("normal", 30px);

    span {
        font-size: 2rem;
        font-weight: bold;
    }
}