@use "@/app/globals" as *;

.container {
    position: fixed;
    z-index: 999;
    backdrop-filter: blur(10px);
    /*-webkit-backdrop-filter: blur(10px);  사파리 호환성을 위한 추가 */
    background-color: rgba(var(--background-color), 0.6);
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
}

.header {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 20px;
}

.logo {
    display: flex;
    align-items: center;
    z-index: 1;
}

.blogHome {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;


    width: fit-content;
    height: fit-content;
    padding: 0 90px;

    // ... 처리
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.blogHome span {
    font-size: 1.25rem;
    line-height: 60px;
    font-weight: bold;
}

.option {
    z-index: 1;
    min-width: max-content;
    display: flex;
    align-items: center;
}

.option button, .option a {
    padding: 5px 10px;
    transition: background-color 0.3s, border-radius 0.3s;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5em;
    @include interaction-effect("normal", 5px, true);
}


.dashboard {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
}

.management, .statistics {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.current {
    background-color: rgba(var(--primary-color), 0.1);
}

.management > span, .statistics > span {
    font-size: 20px;
    font-weight: 500;
}